{% extends 'base.html' %}

{% block title %}ABOUT US{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="https://source.unsplash.com/505eectW54k/1080x300" class="d-block w-100 px-0" alt="...">
            </div>
        </div>
    </div>
</div>

<h1 class="text-center my-3"></h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">ABOUT US </h2>
            <hr>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                A GRIP Bank is a financial institution which performs the deposit and lending function. A bank allows a person with
                excess money (Saver) to deposit his money in the bank and earns an interest rate. Similarly, the bank lends
                 to a person who needs money (investor/borrower) at an interest rate.
                 The bank usually takes a deposit from the public at a much lower rate called deposit rate and lends the money 
                 to the borrower at a higher interest rate called lending rate.
                <br>
                
                GRIP Bank, as a full service universal bank, provides a wide gamut of financial products 
               and services encompassing deposits, loans, payment services and investment solutions. We are committed 
               to understanding our customers’ needs and aim at consistently delivering relevant financial solutions 
               and excellent customer service.
            </p>

        
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
    
                Dealing with such entities, organizing it in the right categories and maintaining the records aren't the
                simple thing and many schools find it really hard. So, to deal with anything related to libraries, the
                school library management system is an ideal choice since it includes all features in a single package.
                Major benefits of using this system to manage the libraries include following:
            </p>
        </div>
    </div>
</div>

{% endblock body %}